*{
    MARGIN:0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.game{
    height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 3px;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: red;
    background-color: chartreuse;
    margin-left: 2px;
    margin-right: 2px;
    
}
#reset-btn,#main-reset-btn, #popup-new-btn{
    padding: 0.5em;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
#msg{
    color: rgb(85, 75, 75);
    font-size: 5vmin;
}
.msg-container{
    height:20vmin;
}


/*
popup box
*/
.overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    z-index: 5;
}

.popup{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    display: none;
    text-align: center;
    z-index: 10;
}

.popup h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.box:hover,#reset-btn:hover,
#main-reset-btn:hover,
#popup-new-btn:hover{
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}